/* =========================
   VARIABLES
========================= */

$primary-color: #324360;
$accent-color: #35c4ce;
$text-color: #787878;
$heading-color: #111111;
$footer-bg: #eaf2ff;
$footer-text: #989898;
$hover-gray: #999999;
$border-color: #e9e9e9;
$submenu-bg: #f0f0f0;

$main-font: 'Josefin Sans', sans-serif;
$body-font: Quando;


/* =========================
   MIXINS
========================= */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($time: .3s) {
  transition: all $time ease;
}


/* =========================
   GLOBAL STYLES
========================= */

body {
  font-family: $body-font;
  font-size: 15px;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 25px;
  line-height: 1.6em;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: $heading-color;
  @include transition(.2s);

  &:hover {
    color: $hover-gray;
  }
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: $main-font;
  font-weight: 400;
  line-height: 1.3em;
  word-wrap: break-word;
  color: $heading-color;
}

h1 { font-size: 37px; }
h2 { font-size: 31px; }
h3 { font-size: 26px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }


.container {
  width: 94%;
  margin: 0 auto;
}


/* =========================
   HEADER + NAVIGATION
========================= */

header {
  font-family: $main-font;

  nav {

    ul {
      display: none;
    }
  }
}

.top-logo {
  width: 200px;
  margin: 20px auto 40px;
}


/* =========================
   POSTS
========================= */

article {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  .image-part {
    margin-bottom: 10px;
  }

  .post-title {
    margin-top: 0;

    a {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
      margin: 15px 0;
      line-height: 1.3em;
      @include transition;

      &:hover {
        color: $accent-color;
      }
    }
  }
}


/* =========================
   FOOTER
========================= */

footer {
  padding: 30px 0;
  text-align: center;
  background: $footer-bg;
  color: $footer-text;

  a {
    color: $footer-text;

    &:hover {
      color: $heading-color;
    }
  }

  .footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
  }

  .footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
      margin: 0 10px;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

      span {
        display: none;
      }
    }
  }

  #footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $footer-text;
  }
}


/* =========================
   MEDIA QUERY
========================= */

@media only screen and (min-width: 650px) {

  .container {
    width: 90%;
  }

  header {

    nav {
      max-width: 1170px;
      margin: 0 auto;
      @include flex-center;
      height: 60px;

      ul {
        display: flex;

        li {
          margin: 0 15px;
          position: relative;
          line-height: 24px;

          &.menu-item-has-children > a::after {
            margin-left: 7px;
            font-family: 'Font Awesome 5 Free';
            font-size: 13px;
            color: $primary-color;
            content: '\f078';
          }

          &:hover ul {
            visibility: visible;
            opacity: 1;
          }
        }

        ul {
          visibility: hidden;
          opacity: 0;
          display: block;
          position: absolute;
          z-index: 9999;
          left: 0;
          background: $submenu-bg;
          @include transition(.2s);

          li {
            border-top: 1px solid $border-color;
            margin: 0;
          }

          a {
            display: block;
            color: $heading-color;
            min-width: 175px;
            margin: 0;
            padding: 20px 10px;
            line-height: 1.4em;
            letter-spacing: 1px;
            @include transition(.35s);

            &:hover {
              background: #ffffff;
              color: #000;
            }
          }
        }
      }

      a {
        font-family: $main-font;
        color: $primary-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;

        &:hover {
          color: $accent-color;
        }
      }

      .current-menu-item a {
        border-bottom: 2px solid $primary-color;
      }
    }
  }


  /* POSTS */

  article {

    .image-part {
      flex: 1;
      overflow: hidden;
      margin-bottom: 0;

      img {
        @include transition(3.5s);

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    .content-part {
      flex: 1;
      padding-left: 50px;
    }
  }


  /* FOOTER */

  footer {

    .footer-social-links {

      a {
        margin: 0 28px;

        i {
          margin-right: 5px;
        }

        span {
          display: inline;
          font-size: 11px;
        }
      }
    }
  }
}